<%= text_area_tag 'cms_page[content]', @cms_page.content, :cols => 100, :rows =>  30, :class => 'wiki-edit' %>
<% unless @cms_page.new_record?  %>
  <p>
    <label for="page_version_comment"><%= l(:label_cms_version_comment) %></label>
    <%= text_field_tag 'cms_page[version_comment]', '', :style => "width: 100%;" %>
  </p>

<% end %>
<%= javascript_tag "editor = activateCodeMirror('cms_page_content', '#{@cms_page.filter.class.mine_type}');" %>
